---
title: Home | NISER — Software Development Group
layout: default
---

<h2 class="head"> <i class="fas fa-code"></i> NISER-SDG</h2>
<section>
  {% include welcome.html %}
</section>
<section id="events">
  {% include events.html %}
</section>
<section id="projects">
  {% include projects.html %}
</section>
<section id="members">
  {% include members.html %}
</section>

<!-- Hacky -->
  <script>
    document.querySelector('nav ul li:first-child a').classList.add('on');
  </script>
<!-- Seriously, find a better way -->
