@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&family=Space+Mono:wght@700&display=swap');

$bold : 'Circular Std',
'Montserrat',
sans-serif;
$yellow: #F7941D;
$yellow-dark: #e48209;
$yellow-tr: #f7951d9e;

%is-not-showingX {
  transform: translateX(20px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

%is-not-showingY {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

%is-showingX {
  transform: translateX(0);
  opacity: 1;
}

%is-showingY {
  transform: translateY(0);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

@import 'sections/nav';
@import 'sections/intro';
@import 'sections/about';
@import 'sections/projects';
@import 'sections/team';
@import 'sections/blogs';
@import 'sections/news';
@import 'sections/footer';

body {
  font-family: 'Poppins', "Roboto Slab", serif;
  font-size: 1.3125rem;
  color: #89807A;
  font-weight: 400;
  overflow-x: hidden;
}

::selection {
  background: $yellow;
  color: #fff;
}

.text {
  font-size: 2rem;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.section__title {
  font-family: $bold;
  line-height: 1;
  font-size: 3rem;
  color: #414A4D;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.section__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: $yellow-tr;
  z-index: -1;
}

@media (max-width: 600px) {
  .section__title {
  font-size: 2rem;

  }
}