@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&family=Space+Mono:wght@700&display=swap');

$bold : 'Circular Std',
'Montserrat',
sans-serif;
$yellow: #F7941D;
$yellow-dark: #e48209;
// $yellow-tr: #f7951d9e;
// $yellow-tr: #b46c13;
$yellow-tr: #FABD73;
$dark: #414a4d;

%is-not-showingX {
  transform: translateX(20px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

%is-not-showingY {
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

%is-showingX {
  transform: translateX(0);
  opacity: 1;
}

%is-showingY {
  transform: translateY(0);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

html {
  scroll-behavior: smooth;
  --section-title: #414a4d;
  --text-color: #89807A;
  --about-text: #272727;
}

html[data-theme='dark'] {
  // background: #0a061a;
  --d2: #0f091f;
  background-color: #080618;
  opacity: 1;
  background-image:  linear-gradient(var(--d2) 3.2px, transparent 3.2px), linear-gradient(90deg, var(--d2) 3.2px, transparent 3.2px), linear-gradient(var(--d2) 1.6px, transparent 1.6px), linear-gradient(90deg, var(--d2) 1.6px, #080618 1.6px);
  background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
  background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px, -1.6px -1.6px;--section-title: #fff;
  --text-color: #ccc;
  --about-text: #eee;
}

@import 'sections/nav';
@import 'sections/intro';
@import 'sections/about';
@import 'sections/projects';
@import 'sections/team';
@import 'sections/blogs';
@import 'sections/news';
@import 'sections/footer';

body {
  font-family: 'Poppins', "Roboto Slab", serif;
  font-size: 1.3125rem;
  color: var(--text-color);
  font-weight: 400;
  overflow-x: hidden;
}

::selection {
  background: $yellow;
  color: #fff;
}

#theme-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 3rem;
  z-index: 999;
  text-shadow: 0 0 10px #0009;
}

@media (max-width: 680px) {
  #theme-switch {
    font-size: 2.5rem;
  }
}

.text {
  font-size: 2rem;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.section__title {
  font-family: $bold;
  line-height: 1;
  font-size: 3rem;
  color: var(--section-title);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

.section__title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: $yellow-tr;
  z-index: -1;
}

@media (max-width: 600px) {
  .section__title {
  font-size: 2rem;

  }
}