<h3>Members</h3>
<div class="members">
  {% assign sorted = (site.data.members | sort: 'full_name') %}
  {% for member in sorted %}
  <div class="{{ member.name }}">
    <div class="member-image">
      <img src="{{ member.image }}" alt="{{ member.full_name }}'s image">
      <div class="member-social">
        <ul>
          {% for stuff in member.social %}
              <li>
                <abbr title="{{ member.full_name }}'s {{ stuff.name }}">
                  <a href="{{ stuff.link }}"><img src="/assets/images/social/{{ stuff.img }}" alt="Link to {{ member.full_name }}'s {{ stuff.name }}"></a>
                </abbr>
          {% endfor %}
        </ul>
      </div>
    </div>
    <h4>{{ member.full_name }}</h4>
    <p>
    {{ member.bio }}
    </p>
  </div>
  {% endfor %}
</div>

