<h3>Members</h3>
<div class="members">
  {% for member in site.data.members %}
  <div class="{{ member.name }}">
    <div class="member-image">
	<img src="{{ member.image }}" alt="{{ member.image-alt }}">
      <div class="member-social">
        <ul>
          <li><a href="#"><img src="/assets/images/social/github-light.png"></a>
          <li><a href="#"><img src="/assets/images/social/twitter-light.png"></a>
          <li><a href="#"><img src="/assets/images/social/facebook-light.png"></a>
        </ul>
      </div>
    </div>
    <h4>{{ member.full_name }}</h4>
    <p>
    {{ member.bio }}
    </p>
  </div>
  {% endfor %}
</div>

