<div id="navbar"><div id="inner-navbar"> <header>
    <a href="/">
      <img src="/assets/images/ls1.png" alt="NISER Logo">
    </a>
    <h1 id="mainh1">NISER SDG</h1>
  </header>

  <nav>
    <ul>
      {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" class="navlink">
          <span id="{{ item.name }}">
            <i class="{{ item.icon }}"></i>
            <span class="sidebar-text">{{ item.name }}</span>
          </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div></div>
