<aside>
<div class="about">
	<a href="#"><h4>About</h4>
	<p id="pretentious-quote">
	Really pretentious quote about what we do and why we do it. Load of bollocks, really.
	</p></a>
</div>

<div class="event-log">
	<h4>Event Log</h4>
	<ul>
		<li><a href="#">Fun</a></li>
		<li><a href="#">More fun</a></li>
		<li><a href="#">Lots of fun</a></li>
		<li><a href="#">Lots more fun</a></li>
		<li><a href="#">We have a lot of fun</a></li>
		<li class="linkToMore"><a href="#">More</a></li>
	</ul>
</div>

<div class="social">
	<h4>Follow us</h4>
	<!-- The images have been taken from the SNS's press kits;
			It's okay to use the images here -->
	<ul>
		{% for item in site.data.social %}
		<li><a href="{{ item.link }}">
				<abbr title="{{ item.tooltip }}">
					<img src="{{ item.image }}">
			</abbr>
		</a>
		{% endfor %}
	</ul>
<!---		<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			<abbr title"r/NISER-SDG on Reddit">
				<img src="/assets/images/social/reddit-light.png">
			</abbr>
		</a>
		<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			<abbr title"NISER-SDG on Facebook">
				<img src="/assets/images/social/facebook-light.png">
			</abbr>
		</a>
		<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			<abbr title"@NISER-SDG on Twitter">
				<img src="/assets/images/social/twitter-light.png">
			</abbr>
		</a>
		<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			<abbr title"">
				<img src="/assets/images/social/feed-light.png">
			</abbr>
		</a>
		</ul> -->
</div>

<div class="blog">
	<h4>Recent Blog Posts</h4>
	<ul>
		<li><a href="#">How to have fun</a></li>
		<li><a href="#">This is how...</a></li>
		<li><a href="#">Isn't it enough?</a></li>
		<li><a href="#">I think it is.</a></li>
		<li class="linkToMore"><a href="#">Archive</a></li>
		</ul>
</div>
</aside>
