<aside>
<div class="about">
  <h4>About</h4>
  <p id="pretentious-quote">{{ site.about }}</p>
</div>

<div class="blog">
  <h4>Recent Blog Posts</h4>
  <ul>
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    <li class="linkToMore"><a href="blog">Archive</a></li>
  </ul>
</div>

<div class="social">
  <h4>Contact us</h4>
  <!-- The images have been taken from the SNS's press kits;
      It's okay to use the images here -->
  <ul>
    {% for item in site.data.social %}
    <li><a href="{{ item.link }}">
        <abbr title="{{ item.tooltip }}">
          <img src="{{ item.image }}">
      </abbr>
    </a>
    {% endfor %}
  </ul>
</div>

</aside>
