html {
    --dark-back: #111a1d;
    --dark-back-text-title: rgb(247, 148, 29);
    --dark-back-text: #eee;
    --dark-btn-hover: #e48209;
  }
  
html[data-theme='dark'] {
    // --dark-back-text: #111a1d;
    // --dark-back: #F7941D;
    // --dark-back-text-title: #111a1d;
    // --dark-btn-hover: #000;
    --dark-back-text: #c5d3d8;
    --dark-back: #F7941D;
    --dark-back-text-title: #ffffff;
    --dark-btn-hover: #000;
  }

.section--blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-back);
    padding: 3rem 0;
    color: var(--dark-back-text);

    .section__title {
        color: var(--dark-back-text-title);

    }
}

html[data-theme='dark'] .section--blogs, html[data-theme='dark'] footer {
        --s: 48px; /* control the size*/
        // --c1: #f7941d;
        // --c2: #ee8c15;
        --c1: #080618;
        --c2: #0f0c28;
        
        --c:var(--c1) 0 25%,#0000 0;
        --p:0 0/calc(3*var(--s)) calc(2*var(--s));
        background:
          conic-gradient(from -45deg at 75% 62.5%,var(--c)) var(--p),
          conic-gradient(from 135deg at 25% 37.5%,var(--c)) var(--p),
          repeating-conic-gradient(from 90deg,var(--c),var(--c2) 0 50%)
           0 0/var(--s) var(--s);
}

html[data-theme='dark'] footer {
    --c1: #f7941d;
        --c2: #ee8c15;
}

.blogs {
    width: 80%;
    margin: 3rem 0;
    text-align: left;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.blog {
    margin: 0 1rem;
    flex-basis: 25%;
}

.blog-title {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.blog-content {
    text-align: justify;
    padding: 0 0 20px 0;
}

.blog-date {
    color: var(--dark-back-text-title);
}

.blog-abstract {
    font-size: 0.9rem;
}

.blog-author {
    margin-top: 5px;
    color: var(--dark-back-text-title);
}

.blog-btn {
    background: var(--dark-back-text-title);
    padding: 3px 8px;
    color: var(--dark-back);
    transition: background .1s ease-in-out;
    &:hover {
        background: var(--dark-btn-hover);
    }
}

@media (max-width: 1000px) {
    .blogs {
        width: 95%;
    }
    .blog {
        margin: 0 .2rem;
        flex-basis: 50%;
    }
}
@media (max-width: 700px) {
    .blogs {
        width: 95%;
    }
    .blog {
        margin: 0 .2rem;
        flex-basis: 80%;
    }
}