html {
    --footer-text: #D1C9C1;
    // --footer-back: #111a1d;
    --footer-social: #a49b92;
}

html[data-theme='dark'] {
    --footer-text: #111a1d;
    // --footer-back: #222;
    --footer-social: #111a1d;
}

footer {
    text-align: center;
    padding: 30px 0;
    color: var(--footer-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #111a1d;
    align-items: center ;
    
    h2.section__title {
        color: var(--footer-text);
    }
    p {
        justify-self: end;
        font-size: .9rem;
        margin: 0 1rem;
    }
}

.social-icons {
    cursor: pointer;
    margin: 0 0 3rem 0;
    a {
        margin: 0 10px;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: var(--footer-social);
        transition: fill .1s ease-in-out;
        cursor: pointer;
    }
    a:hover svg{
        fill: var(--dark-btn-hover);
    }
}

