footer {
    text-align: center;
    padding: 150px 0;
    color: #D1C9C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center ;
    p {
        justify-self: end;
    }
}

.social-icons {
    cursor: pointer;
    margin: 1rem 0 3rem 0;
    a {
        margin: 0 10px;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: #a49b92;
        transition: fill .1s ease-in-out;
        cursor: pointer;
    }
    a:hover svg{
        fill: $yellow;
    }
}

