nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #ffffff82;
    padding: .6rem 0;
    z-index: 1000;
    background: transparent;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    &.alone {
        color: #181818;
        background: #fff;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.322);
    }
    svg {
        display: none;
    }
    #nav-close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 60px;
        width:  60px;
        fill: #ffffff82;
        display: none;
    }
    &.small {
        top: 2rem;
        left: 2rem;
        height: 60px;
        width:  60px;
        ul {
            display: none;
        }
        .logo {
            display: none;
        }
        
        #nav-open {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 60px;
            width: 60px;
            padding: 0 0 0 10px;
            rect {
                fill: $yellow;
                height: 3px;
                rx: 1px;

            }
            .rect-1 {
                transform: translateY(2px);
            }
        
            .rect-2 {
                transform: translateY(8px);
                width: 10px;
            }
        
            .rect-3 {
                transform: translateY(14px);
            }
        }
    }
}

.logo {
    height: 6rem;
    img {
        height: 100%;
    }
    &.logo-1 {
        padding: 10px;
    }
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    max-width: 450px;
    margin: auto 0;
    transition: .5s ease-in
}

nav li {
    position: relative;
    margin: 0 20px;
    a {
        position: relative;
    }
    a::after {
        content: '';
        position: absolute;
        bottom: 3px;
        width: 100%;
        height: 0;
        left: 0;
        background: $yellow-tr;
        transition: height .1s ease-in;
        z-index: -1;
    }
    a:hover::after {
        height: 8px;
        left: 0;
    }
}

@media (max-width: 1150px) {
    nav {
        padding: .5rem 1rem;
        font-size: 15px;
        li {
            margin: 0 10px;
        }
    }
}

@media (max-width: 700px) {
    nav {
        width: 100%;
        height: 100%;
        background: #181818;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0 2rem;
        ul {
            flex-direction: column;
            font-size: 2rem;
            margin: 0;
        }
        &.alone {
            background: #181818;
            color: #ffffff82;
            box-shadow: none;
        }
        
    }

    nav li {
        &::after {
            display: inline-block;
        }
    }
    .logo {
        height: 10rem;
        img {
            height: 100%;
        }
        &.logo-1 {
            display: none;
        }
    }

}