.section--team {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .section__title,
    .section__subtitle {
        @extend %is-not-showingY;
        &.is-showing {
            @extend %is-showingY;
        }
    }
}

.team-switches {
    margin: 1rem 0 3rem 0;
    font-family: 'Poppins', sans-serif;
    color: #444;

    .team-switch {
        margin: 0 20px;
        position: relative;
        letter-spacing: 1px;
        cursor: pointer;
        // transition: all .3s cubic-bezier(1, -0.65, 0, 2.07);
    }
    .team-switch::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        height: 8px;
        width: 0;
        background: $yellow-tr;
        z-index: -1;
        transition: all .3s ease-in-out;
    }
    .active::after {
        width: 100%;
    }
}

.team-grids {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    row-gap: 20px;
    column-gap: 30px;
    width: 80%;
}

.team-grid.active {
    display: flex;
}

.member-card {
    height: 20rem;
    width: 14rem;
    overflow: hidden;
    box-shadow: 0 10px 1rem #0002;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    figcaption {
        font-family: 'Poppins', sans-serif;
        padding: 1rem;
        text-align: center;
        color: #111;
    }
}

.member-image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.member-name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.member-desc {
    font-size: 13px;
}

.member-socials {
    margin-top: 5px;
    svg {
        height: 20px;
        fill: #444;
        margin: 0 5px;
        cursor: pointer;
        transition: .1s ease-in-out;
    }
    svg:hover {
        fill: $yellow-tr;
    }
}

@media (max-width: 760px) {
    .team-grid {
        width: 95%;
        row-gap: 10px;
        column-gap: 10px;
    }
    .member-card {
        transform: scale(.9);
    }
}